[submodule "KinematicFitTool"]
	path = KinematicFitTool
	url = https://gitlab.cern.ch/r3hh-public/KinematicFit.git
[submodule "VBFTagger"]
	path = VBFTagger
	url = https://gitlab.cern.ch/vbftagger/vbftagger.git
[submodule "TruthWeightTools"]
	path = TruthWeightTools
	url = https://gitlab.cern.ch/atlas_higgs_combination/software/TruthWeightTools.git
