# build artifacts
/build/
/athena/
__pycache__/
.asetup*

# binary files
*.h5
*.root
*.csv
*.pyc
*.pdf
*.png
*.svg

# log files
*.log
*.out

# workspace directories
/run/
/plots/
/data/

# macOS and VSCode related files
*.DS_Store
.vscode/*
