# GitLab CODEOWNERS file
# Format:  <directory>  <owner(s)>
# The most specific match applies. If no match, falls back to the default rule at the top

# Default owner for everything else
*                    @mfujimot @fcurcio @sizhang 

# Analysis packages
/bbbbAnalysis/        @caiyi
/bbllAnalysis/        @gcallea
/bbttAnalysis/        @mfujimot @sdahbi @pbokan @bmoser
/bbVVAnalysis/        @jjhong
/bbyyAnalysis/        @fcurcio @gdigrego @alwang @atishelm @pusharma @elmazzeo @chugli
/llttAnalysis/        @weiming @jbeaucam
/multileptonAnalysis/ @cmo @shudong
/ssWWAnalysis/        @yiyu
/ttHHAnalysis/        @lfaldaul @losanti
/vbshiggsAnalysis/    @yelghaza
/VBSVV4qAnalysis/     @angianni
/ZCharmAnalysis/      @yiyu
/XbbCalib/            @eschopf @izvelisc
/HZallyyAnalysis/     @mashamim @shahzad
/yyMLAnalysis/        @dshope
/bbbbttAnalysis/      @mvgonzal @oliveirg
/jjjjAnalysis/        @zhijie
# /monojetAnalysis/     @aberti @rcostaba # <--- commented because they are apparently invalid


