# GitLab CODEOWNERS file
# Format:  <directory>  <owner(s)>
# The most specific match applies. If no match, falls back to the default rule at the top

*                    @easyjet-coordinators

##  Analysis packages
##  note that @easyjet-coordinators should _always_ be listed

# Xbb calibrations, Dan is trying this out
/XbbCalib/            @dguest @easyjet-coordinators


# If you would like to be added to a package please create an issue
# and ping @easyjet-coordinators