# build artifacts
/athena/
__pycache__/

# macOS and VSCode related files
*.DS_Store
.vscode/*

*.root
*PoolFileCatalog.xml
*userJobMetadata.json
*eventLoopHeartBeat.txt

*.h5

.cache/
compile_commands.json
